<br>
<br>
<br>


<div class="container py-1 text-center">
    <h3 class="col-lg-9 mx-auto pt-2 pb-5 text-white">Frequently Asked Questions</h3>
  
    <div class="row">
      <div class="col-lg-9 mx-auto pb-5">
        <!-- Accordion -->
        <div class="accordion shadow">
          <!-- End -->

          <!-- Accordion item 2 -->
          <div class="card">
            <div id="headingTwo" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo" class="accordion-button collapsed">
                     How do I register for an account?
                </button>
              </h2>
            </div>
            <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse" >
              <!-- First Card Body -->
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6 ">
                    <p class="font-weight-light m-0 ">To register with us, please select "Register" from the home menu and complete three easy steps.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 3 -->
          <div class="card">
            <div id="headingThree" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                     aria-expanded="false" aria-controls="collapseThree" class="accordion-button collapsed" >
                  How do I reset my password?
                </button>
              </h2>
            </div>
            <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse" >
              <!-- First Card Body -->
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6">
                    <p class="font-weight-light m-0"> To reset your password, select "Sign In" from the home menu. Click "Forgot Your Password" to begin the password reset process. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->
           
          <!-- Accordion item 5 -->
          <div class="card">
            <div id="headingFive" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                     aria-controls="collapseFive" class="accordion-button collapsed" >
                  How do I submit a service repair request?
                </button>
              </h2>
            </div>
            <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse" >
              <!-- First Card Body -->
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6">
                    <p class="font-weight-light m-0">To create a service repair request, sign in to your account.</p>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <!-- End -->

          <!-- Accordion item 4 -->
          <div class="card">
            <!-- Faq question part -->
            <div id="headingFour" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button  type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" 
                         aria-expanded="false"  aria-controls="collapseFour"  
                         class="accordion-button collapsed" >  How do I generate an invoice summary?
                </button>
                </h2>
            </div>
            <!-- Faq answer part -->
            <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse" >
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6">
                    <p class="font-weight-light m-0">After you create a service repair request you will be redirected to an invoice summary. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->

          <!--User Configuration-->
          <div class="card">
            <div id="headingOne" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne" class="accordion-button collapsed" >
                  How do I manage users?
                </button>
              </h2>
            </div>
            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse" >
              <!--First card body-->
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6">
                    <p class="font-weight-light m-0"> If you are an admin, navigate to the "User Configuration" page and start from there.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->
  
          <!-- Accordion item 6 -->
          <div class="card">
            <div id="headingSix" class="accordion shadow-sm border-0">
              <h2 class="mb-0">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix" class="accordion-button collapsed" >
                  How can I review purchases by service?
                </button>
              </h2>
            </div>
            <div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample" class="collapse" >
              <!-- First Card Body -->
              <div class="card-body p-5">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6">
                    <p class="font-weight-light m-0">If you are an admin, please navigate to the "Purchases By Service" page.</p>
                  </div>
                </div>
            </div>
     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>