<div class="not-found-container">
  <div class="image-container">
    <img src="assets/andras-vas-Bd7gNnWJBkU-unsplash.jpg" alt="Macbook Pro turned on" class="not-found-image">
    <div class="overlay-text">
      <h1>404
        <br /> Not Found</h1>
      <p>Whoops! Let's get you back on track.</p>
      <a routerLink="/home" class="home-link">Go to Home Page</a>
    </div>
  </div>
  <p class="photo-attribution">
    Photo by <a href="https://unsplash.com/@wasdrew?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" rel="noopener noreferrer">Andras Vas</a> on <a href="https://unsplash.com/photos/macbook-pro-turned-on-Bd7gNnWJBkU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank" rel="noopener noreferrer">Unsplash</a>
  </p>
</div>
