h2 {
  color: #0F1D4A; /* Dark Blue */
  font-size: 24px; /* Increase the font size */
  text-align: center;
}

.chart-container {
  max-width: 900px; /* Make the chart smaller */
  margin: auto;
}

#myPieChart {
  width: 100%;  /* Ensure the chart takes the full width of the container */
  height: auto;
}

.container {
  margin-top: 80px; /* Add space to push content below the navbar */
}
