<br>
<br>
<br>
<div class="container">
  <div class="about-section">
    <h1>Employee Directory</h1>
    <p>
      Here at Bob's Computer Repair Shop, we value our employees and who they are.
    </p>
    <p>
      We believe that we have the very best team there is and we love to show off
      their talents!
    </p>
  </div>

  <h2 style="text-align: center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="assets/shipman-northcutt-sgZX15Da8YE-unsplash(1).jpg"
          alt="Bob"
          style="width: 100%"
        />
        <div class="container">
          <h2>Simon Robert (Bob)</h2>
          <p class="title">CEO & Founder</p>
          <p>
            Bob founded BCRS in 2012 out of a love to help and assist clients with
            all of their tech needs. Since then, he has built a wonderful team
            that fosters the same love and passion for troubleshooting,
            problem-solving and serving clients with the unique talents and skills
            they posses.
          </p>
          <div>Contact Information:</div>
          <p>Email: Bob@Bcrs.com</p>
          <p>Phone: 894-760-1245</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="assets/Screen Shot 2024-07-12 at 7.24.14 AM.png"
          alt="James"
          style="width: 100%"
        />
        <div class="container">
          <h2>James Robert (JimBob)</h2>
          <p class="title">Co-Owner of BCRS/Admin Manager</p>
          <p>
            JimBob is the twin brother of Bob and runs and manages the operations
            of Bob's Computer Repair Shop. He manages a small team of technicians
            and is responsible for all business-related decisions, including
            pricing and customer relations. Overall, he values quick and efficient
            service to keep the business running smoothly and to keep his clients
            satisfied.
          </p>
          <p>Contact Information:</p>
          <p>Email: JimBob@Bcrs.com</p>
          <p>Phone: 894-213-0001</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="assets/christina-wocintechchat-com-zFd1L-XtrTE-unsplash.jpg"
          alt="Joanna"
          style="width: 100%"
        />
        <div class="container">
          <h2>Joanna Wright</h2>
          <p class="title">Technician Specialist</p>
          <p>
            Joanna has been with BRCS for about a year. She is a talented
            technician and loves all things software. She is great with people
            which is an added bonus for our clients. With her professional skills
            alongside her personal skills, she is a great addition to the BCRS
            team.
          </p>
          <p>Contact Information:</p>
          <p>Email: Joanna.Wright@bcrs.com</p>
          <p>Phone Number: 483-222-5029</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="assets/tamarcus-brown-29pFbI_D1Sc-unsplash(1).jpg"
          alt="DJ"
          style="width: 100%"
        />
        <div class="container">
          <h2>Damarius Brown</h2>
          <p class="title">Sales Representative</p>
          <p>
            Damarius has been with us for a little over three years now. He is an
            excellent sales representative who truly values employee-client
            relationships. He has a passion to expand the BCRS brand and wants to
            foster growth in the company. We are super grateful to have him on the
            team!
          </p>
          <p>Contact Information:</p>
          <p>Email: Damarius.Brown@bcrs.com</p>
          <p>Phone Number: 232-702-7123</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="assets/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash(1).jpg"
          alt="Naomi"
          style="width: 100%"
        />
        <div class="container">
          <h2>Naomi Frank</h2>
          <p class="title">Technician Specialist</p>
          <p>
            Naomi has been with BRCS for five years and loves the BCRS company.
            She started out as an administrator, went to school and eventually
            became a technician. She is incredibly talented, friendly, and overall
            cares about the company culture. She values efficiency and also
            precision in all the work that is done at BCRS. Grateful to have her
            part of our team!
          </p>
          <p>Contact Information:</p>
          <p>Email: Naomi.Frankt@bcrs.com</p>
          <p>Phone Number: 434-123-8429</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="assets/daria-pimkina-tYaccl19A3Q-unsplash(1).jpg"
          alt="Robbie"
          style="width: 100%"
        />
        <div class="container">
          <h2>Roberta Knight (Robbie)</h2>
          <p class="title">Software Engineer/Technician</p>
          <p>
            Robbie has been with BRCS since the beginning. She knew Bob and JimBob
            in high school and followed them to be a part of their business
            endeavor. She strives to provide efficient and effective IT support to
            the team to support the company's overall goals.
          </p>
          <p>Contact Information:</p>
          <p>Email: Robbie.Knight@bcrs.com</p>
          <p>Phone Number: 770-245-1079</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="assets/alex-starnes-PK_t0Lrh7MM-unsplash.jpg"
          alt="Savanna"
          style="width: 100%"
        />
        <div class="container">
          <h2>Savanna Page</h2>
          <p class="title">Technician/Admin Support</p>
          <p>
            Our newest addition to the BCRS team, Savanna joins us as a technician
            as well as admin support position to help JimBob with whatever
            operations or management needs he may have. She is excited to be a
            part of this team and offers a vast amount of unique skills, which
            make us proud to have her as an employee.
          </p>
          <p>Contact Information:</p>
          <p>Email: Savanna.Page@bcrs.com</p>
          <p>Phone Number: 850-272-1140</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="assets/redd-f-v6771a4avV4-unsplash(1).jpg"
          alt="Kyle"
          style="width: 100%"
        />
        <div class="container">
          <h2>Kyle Philips</h2>
          <p class="title">Technician/Marketing Specialist</p>
          <p>
            Kyle has been with BRCS for a year and a half. He has a background in
            marketing and has just recently, along with his technician duties,
            begun to support BCRS in the marketing role. He is a talented
            technician and communicator, which adds great value to the marketing
            efforts here at BCRS. We are grateful to have Kyle on board!
          </p>
          <p>Contact Information:</p>
          <p>Email: Kyle.Philips@bcrs.com</p>
          <p>Phone Number: 770-777-7343</p>
        </div>
      </div>
    </div>
  </div>
</div>
