<!--
  Title: home.component.html
  Authors: Brock Hemsouvanh
  Date: 07/21/2024
  Description: Home page for BCRS application
-->

<div class="container mt-5 home-container">
  <div class="row justify-content-center">
    <!-- Image Card -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 homepage-image-card">
        <img src="assets/pc-insides.jpg" alt="Bob & Jim's first custom-built PC!" class="img-fluid rounded shadow" title="Bob & Jim's first custom-built PC!" />
        <div class="photo-attribution text-center mt-2">
          Photo by <a href="https://unsplash.com/photos/black-and-gray-dj-mixer-RPUXMWbwP7M" target="_blank">Erik Gazi</a> on Unsplash
        </div>
      </div>
    </div>

    <!-- Text Card -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 p-4 custom-card">
        <h1 class="text-color">Welcome to Bob's Computer Repair Shop</h1>
        <p>
          Bob's Computer Repair Shop was founded in 2001 by Bob and his brother Jim.  
          With a passion for fixing and tinkering with computers, it started as a hobby and has grown into a 
          successful business known for excellent customer service and a great work environment for employees.
        </p>
        <p>
          Bob and Jim's vision was not only to be the best at repairing computers but also to be the best employers. 
          They are committed to offering the highest employee satisfaction and providing the best customer service 
          possible.
        </p>
        <p>
          We are proud of our team and the work we do. Thank you for being a part of our journey.
        </p>
      </div>
    </div>
  </div>
</div>